<div class="masthead">
<div class="language-nav">
        <a href="#">CSS </a>
        <a href="#">HTML </a>
        <a href="#">Javascript </a>
        <a href="#">Ruby</a>
</div>

<div class="masthead-links">
    <div>Tuesday, October 18, 2016</div>
    <li><a href="#">Today’s Paper</a></li>
    <li><a href="#">Video</a></li>
    <li><div>77°F</div></li>
    <li><div>AAO +100%</div></li>
</div>


</div>